#modal {
    @include modalWrapper;

    &.modalActive {
        top: 0;
        opacity: 1;
    }

    .modalInner {
        @include modalInnerLarge;
            top: 25%;
            width: 70%;
            height: auto;
            @include round(25px);

        p {
            text-align: center;
            font-weight: 500;
            width: 80%;
            margin: 0 auto 11px;
            @media #{$medium-only} {
                font-size: rem-calc(18px);
                line-height: rem-calc(24px);
            }
            @media #{$small-only} {
                font-size: rem-calc(16px);
                line-height: rem-calc(21px);
            }
            span {
                float: none;
                clear: both;
                display: block;
                font-weight: 300;
                margin-top: 1em;
            }
        }

        .button {
            @include round(5px);
            text-transform: capitalize;
        }

        .dismiss {
            margin-right: 20px;
        }

        #dismiss-steps {
            margin-top: 1em;
            input {
                width: 1em;
                height: 1em;
                top: 2px;
                position: relative;
            }
        }

        #modal-icon {
            display: block;
            background-image: url('../images/icon-feedback.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            background-position: left center;
            width: 90px;
            height: 90px;
            margin: 1em auto;
        }

        article {
            padding-right: 0px;
            margin: 30px 0;
        }

    }
}

@media only screen and (max-width: 40em) {

    .modalWrapper {

        .modalInner {

            @include modalInnerSmall;
            top: 5%  !important;
            width: 90% !important;
            padding: 1em !important;
            height: 90vh !important;

            article {
                padding-right: 0px;
                margin: 30px 0;
            }

            .dismiss {
                margin-right: 0 !important;
            }

        }
    }
}