<section id="landing-display">
	<article class="row">
		<div class="small-12 medium-8 columns end">
			<h1>Navigating how to build your skills in an ever changing industury</h1>
			<p class="large"><strong><em>Old Pro</em> is Toronto based Web Development Consultant &amp; Computing Lifestyle Coach. </p>
			<p>Coding is a language skill. You have to immerse yourself in it. Make friend’s who speak it at your level so you can learn and talk together. Go to free Meetups, and try to find a mentor. Even if you aren’t a coder (perhaps you like design, or prototyping ideas, or product designing Apps), you still have to know the technology and tools, and what they can do. You’ll also need, learn a basic code comprehension. All the drag and drop “UX prototyping” tools in the world won’t help you understand how things are built. </strong></p>
			<p class="large">In this guide you will work through a series of <em>Steps</em>, answering <em>Yes</em> or <em>No</em> questions to determine where to start.</p>
		</div>
	</article>
	<footer ng-include="'views/partials/copyright.html'"></footer>
</section>
