<section id="landing-display">
	<article class="row">
		<div class="small-12 medium-8 columns end">
			<h1>Navigating how to build your skills in an ever changing industury</h1>
			<p class="large"><strong><em>Old Pro</em> is Toronto based Web Development Consultant &amp; Computing Lifestyle Coach. </p>
			<p>Whether you need help with your computer or computing skills, are researching or troubleshooting a technical solution, seek career guidance or mentorship in Web Development, or want a website built from scratch - Old Pro has got pro tips to inform you of all the options available as your projects grow. </strong></p>
			<p>In this questionnaire you will work through a series of <em>Steps</em>, answering <em>Yes</em> or <em>No</em> questions to determine where to start.</p>
		</div>
	</article>
	<footer ng-include="'views/partials/copyright.html'"></footer>
</section>
